<!DOCTYPE html>
<html lang="en" data-theme="<%= theme %>">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.svg" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.24.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2/dist/tailwind.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Iconic</title>
  </head>
  <body>

    <nav class="fixed navbar px-16 py-4 z-10 bg-transparent" style="border-bottom: 1px solid rgba(255,255,255,0.16) !important; backdrop-filter: blur(32px)">

      <div class="navbar-start w-auto">
        <a href="/" class="btn btn-ghost normal-case text-xl">
          <svg height="24" viewBox="0 0 407 123" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M20.4922 43.5898V120.781H2.68945V43.5898H20.4922ZM0 0V11.4922V24H23V13.7285C23.1211 13.0352 23.1816 12.3145 23.1816 11.5703C23.1816 10.8242 23.1211 10.1055 23 9.41406V0H11.5508H0ZM103.016 46.918V70.6133C98.9551 65.6484 95.3145 62.2402 92.0977 60.3906C88.9316 58.4883 85.2129 57.5371 80.9414 57.5371C74.2422 57.5371 68.6777 59.8887 64.2461 64.5918C59.8164 69.293 57.5996 75.1836 57.5996 82.2637C57.5996 89.502 59.7363 95.4473 64.0098 100.096C68.334 104.746 73.8457 107.07 80.5449 107.07C84.8184 107.07 88.5898 106.146 91.8594 104.297C95.0254 102.5 98.7441 99.0137 103.016 93.8359V117.373C95.7891 121.125 88.5625 123 81.3359 123C69.416 123 59.4473 119.143 51.4297 111.43C43.4121 103.662 39.4023 94.0195 39.4023 82.502C39.4023 70.9844 43.4648 61.2617 51.5879 53.3379C59.7109 45.4121 69.6797 41.4492 81.4941 41.4492C89.0898 41.4492 96.2637 43.2715 103.016 46.918ZM128.572 53.1777C120.607 60.998 116.625 70.4824 116.625 81.6309C116.625 93.4648 120.527 103.293 128.334 111.111C136.141 119.037 145.82 123 157.373 123C169.029 123 178.867 119.117 186.885 111.35C194.85 103.531 198.832 93.8359 198.832 82.2637C198.832 70.7988 194.875 61.1309 186.963 53.2578C178.945 45.3848 169.188 41.4492 157.689 41.4492C146.242 41.4492 136.537 45.3594 128.572 53.1777ZM140.994 100.254C136.879 95.7637 134.822 89.6602 134.822 81.9473C134.822 74.7617 136.932 68.8965 141.152 64.3535C145.373 59.8086 150.885 57.5371 157.689 57.5371C164.6 57.5371 170.164 59.8086 174.383 64.3535C178.551 68.8438 180.635 74.8418 180.635 82.3438C180.635 89.8457 178.551 95.8438 174.383 100.334C170.217 104.824 164.652 107.07 157.689 107.07C150.779 107.07 145.215 104.799 140.994 100.254ZM217.742 43.5898H235.623V50.7207C241.848 44.5391 248.863 41.4492 256.67 41.4492C265.637 41.4492 272.625 44.2754 277.637 49.9297C281.963 54.7363 284.125 62.584 284.125 73.4668V120.781H266.244V77.668C266.244 70.0586 265.188 64.8027 263.078 61.8965C261.021 58.9375 257.275 57.459 251.844 57.459C245.936 57.459 241.742 59.4121 239.264 63.3223C236.836 67.1797 235.623 73.916 235.623 83.5312V120.781H217.742V43.5898ZM324.477 120.781V43.5898H306.674V120.781H324.477ZM304 10.8633C303.99 11.0703 303.984 11.2812 303.984 11.4922C303.984 11.7148 303.99 11.9355 304 12.1523V24H327V13.6367C327.111 12.9707 327.166 12.2832 327.166 11.5703C327.166 10.8574 327.111 10.1719 327 9.50781V0H315.535H304V10.8633ZM407 46.918V70.6133C402.938 65.6484 399.299 62.2402 396.082 60.3906C394.877 59.666 393.594 59.0801 392.229 58.6328C390.006 57.9023 387.572 57.5371 384.926 57.5371C378.227 57.5371 372.662 59.8887 368.23 64.5918C363.799 69.293 361.584 75.1836 361.584 82.2637C361.584 89.502 363.721 95.4473 367.994 100.096C372.318 104.746 377.83 107.07 384.529 107.07C388.803 107.07 392.574 106.146 395.844 104.297C399.008 102.5 402.727 99.0137 407 93.8359V117.373C399.773 121.125 392.547 123 385.32 123C373.4 123 363.43 119.143 355.412 111.43C347.395 103.662 343.387 94.0195 343.387 82.502C343.387 70.9844 347.447 61.2617 355.57 53.3379C363.693 45.4121 373.664 41.4492 385.479 41.4492C393.074 41.4492 400.248 43.2715 407 46.918Z" fill="white"/>
          </svg>
        </a>
      </div>

      <div class="w-full mx-6">
        <form action="/" method="GET" class="form-control w-full">
          <div class="input-group">
            <input name="q" value="<%= query %>" type="text" aria-label="Search icons" class="input input-bordered rounded-box w-full bg-transparent active:outline-none" style="transition: 75ms" />
            <button type="submit" class="btn btn-square">
              <%- getIcon('search').data %>
            </button>
          </div>
        </form>
      </div>

      <div class="navbar-end hidden lg:flex w-auto">
        <ul class="menu menu-horizontal">
          <!-- <li class="dropdown dropdown-bottom dropdown-end cursor-pointer">
            <label tabindex="0" class="flex items-center gap-3 cursor-pointer rounded-box"><%- getIcon('swatch').data %><span>Theme</span></label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-300 rounded-md w-56">
              <li class="w-full <%= theme == 'black' ? 'font-bold opacity-100' : 'opacity-50' %>"><a href="/?theme=black/?q=<%= query %>">Black</a></li>
              <li class="w-full <%= theme == 'night' ? 'font-bold opacity-100' : 'opacity-50' %>"><a href="/?theme=night/?q=<%= query %>">Night</a></li>
              <li class="w-full <%= theme == 'coffee' ? 'font-bold opacity-100' : 'opacity-50' %>"><a href="/?theme=coffee/?q=<%= query %>">Coffee</a></li>
              <li class="w-full <%= theme == 'aqua' ? 'font-bold opacity-100' : 'opacity-50' %>"><a href="/?theme=aqua/?q=<%= query %>">Aqua</a></li>
            </ul>
          </li> -->
          <li>
            <a href="https://github.com/trentbrew/iconic" target="_blank" class="rounded-box">
              <%- getIcon('github').data %>
              <span>GitHub</span>
            </a>
          </li>
          <li>
            <a href="/api/icons" target="_blank" class="rounded-box">
              <%- getIcon('globe').data %>
              <span>API</span>
            </a>
          </li>
        </ul>
      </div>

    </nav>

    <main class="w-full p-16">
      <ul class="w-full grid grid-cols-1 md:grid-cols-3 xl:grid-cols-5 gap-4 mt-20">
        <% filtered.forEach(icon => { %>
          <form aria-label="Download icon <%= icon.name %>.svg" action="/api/icons/<%= icon.name %>/download" method="POST">
            <li class="rounded-box p-4 border border-opacity-20 cursor-pointer hover:border-white group" style="transition: 75ms">
              <button type="submit" class="w-full flex justify-between items-center">
                <div class="left flex items-center gap-5">
                  <span><%- icon.data %></span>
                  <span class="opacity-50 group-hover:opacity-100"><%= icon.name %></span>
                </div>
                <div class="opacity-0 group-hover:opacity-100" style="transition: 75ms"><%- getIcon('download').data %></div>
              </button>
            </li>
          </form>
        <% }) %>
        <% if (!filtered.length) { %>
          <div class="w-screen flex justify-center items-center" style="margin-top: 250px">
            <h1 class="text-lg">no icons found &nbsp <span class="-mt-6">(╥﹏╥)</span></h1>
          </div>
        <% } %>
      </ul>
    </main>

    </div>
  </body>
</html>
